@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

// Variables
$color-white: #fff;
$color-orange: #FF9900;
$color-blue: #6495ED;
$color-bg-grey: #373737;
$color-grey: #535353;

html, body {
    width: 100%;
    height: 100%;
    background: $color-white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.width-1-6 {
    width: calc(100% * 1 / 6.001);
}

.width-2-6 {
    width: calc(100% * 2 / 6.001);
}

.width-4-6 {
    width: calc(100% * 4 / 6.001);
}

.width-5-6 {
    width: calc(100% * 5 / 6.001);
}

main {
    height: 100%;
    width: 100%;
    
    .sidebar {
        background: $color-white;
        padding: 30px 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        min-height: 100%;

        header {
            h1 {
                padding: 10px 0;
                background: $color-orange;
                color: $color-white;
                text-align: center;
                border-radius: 1000px;
                font-style: italic;
            }
        }

        nav {
            ul, li {
                list-style: none;
                text-align: center;
            }

            ul {
                margin-top: 50px;

                li {
                    margin: 15px auto;
                    padding: 10px 0;
                    background: $color-blue;
                    border-radius: 1000px;

                    a {
                        color: $color-white;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .content {
        padding: 35px 40px;

        .search-bar {
            width: 100%;

            input {
                width: 100%;
                padding: 10px 20px;
                border: 1px solid $color-bg-grey;
                border-radius: 1000px;
                color: $color-grey;
                font-style: italic;
                font-size: 16px;
            }
        }

        .articles {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 40px;
            margin: 30px auto;

            article {
                padding: 20px;
                background: $color-bg-grey;
                display: flex;
                align-items: center;
                border-radius: 20px;
                transition: 0.5s all;

                p {
                    color: $color-white;
                    font-size: 14px;
                }

                &:hover {
                    transition: 0.5s all;
                    background: $color-white;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                    p {
                        color: $color-bg-grey;
                    }
                }
            }
        }
    }

    .add-article {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;

        &--close {
            position: absolute;
            right: 2%;
            top: 2%;
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            background: $color-white;
            border-radius: 20px;
            padding: 50px;
            position: relative;

            input {
                margin: 10px auto;
                padding: 10px 20px;
                width: 100%;
                border-radius: 1000px;
                border: 1px solid $color-bg-grey;
                color: $color-grey;
            }

            textarea {
                width: 100%;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid $color-bg-grey;
                color: $color-grey;
            }

            input[type=submit] {
                width: auto;
                background: $color-blue;
                color: $color-white;
                font-size: 16px;
                font-weight: 500;
                border: none;
                cursor: pointer;
            }
        }
    }

    .btn-add {
        position: fixed;
        bottom: 2.5%;
        right: 1%;

        button {
            border-radius: 50%;
            background: $color-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: 0.5s all;
        }
    }

    .btn-dark-mode {
        position: fixed;
        bottom: 13.5%;
        right: 1%;

        button {
            border-radius: 50%;
            background: $color-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: 0.5s all;
        }
    }

}